h1 {
    color: seagreen;
    font-size: 20px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}   

<<<<<<< HEAD
body {
    background-color: yellow;
}

=======
body { 
    background-color: red;
}
>>>>>>> red
